.container {
    margin-top: 100px;
}
.orange-bg {
    background-color: #D9D5C9;
    border-radius: 10px;
}
.carousel-item{
    padding: 0px 10px;
}
#nono {
 
    padding: 0px 40px;
     
}
.io{
    padding: 0px 20px;
   text-align: justify;
}
.buy-now{
    margin-left: 20px;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100% );
}
.pris{
    color: #de32e4;
}