.review-item-container{
  border: 1px solid #95A0A7;
  border-radius:8px;
  padding: 8px;
  margin-top: 21px;
  width: 570px;
  display: flex;
}

img{
  width: 92px;
}
.review-item-details p{
  margin: 0;
}
.review-item-details-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.delete{
  display: flex;
  align-items: center;
}
.dlt-btn{
  background:rgba(235,87,87,0.3);
  border:none;
 height:55px;
 width:55px;
  border-radius:50%;

}
.delete-icon{
  cursor: pointer;
  color: rgba(235,87,87,1);
  font-size:27px;

}